$primary-magenta:  hsl(300, 43%, 22%);
$primary-pink: hsl(333, 80%, 67%);
$dark-magenta: hsl(303, 10%, 53%);
$light-magenta: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);
$FONT-SIZE: 15px;
$content-width-mobile: 90%;
$content-width-desktop: 400px;
$content-width-tablet: 350px;