@import "../assets/scss/mixins";
@import "../assets/scss/variables";

.social-proof-section {
    .ratings-wrapper {
        .ratings {
            background-color: $light-magenta;
            border-radius: 10px;
            .rating {
                img {
                    padding: 0 0.3em 0 0.3em;
                }
            }
        }
    }
}
